<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta discription="Photalk Fukuoka フォトークフクオカ, 福岡市内でテーマを決めて写真について話したり、撮り歩きをする集まりです。カメラはスマホしかない方、写真に詳しくない方も歓迎！">
  <meta property="og:url" content="https://photalkFukuoka/.github.io/main/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="写真についてゆるく話す会、Photalk Fukuoka フォトークフクオカのウェブサイトです。" />
  <meta property="og:site_name" content="Photalk Fukuoka フォトークフクオカ" />
  <meta property="og:image" content="https://photalkFukuoka/.github.io/main/common/img/ogp_img.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://photalkFukuoka/.github.io/main/index.html" />
  <meta name="twitter:image" content="https://photalkFukuoka/.github.io/main/common/img/ogp_img.jpg" />
  <meta name="twitter:title" content="Photalk Fukuoka フォトークフクオカ -top">
  <title>Photalk Fukuoka-top</title>
  <link rel="stylesheet" href="./common/css/reset.css">
  <link rel="stylesheet" href="./common/css/common.css">
  <link rel="shortcut icon" href="./common/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-burger-menu@2.0.3/dist/vue-burger-menu.umd.js"></script>
  <script src="./common/js/main.js"></script>
  <script src="./common/js/component.js"></script>
</head>
<body>

<div id="app">
  <header-component></header-component>
  <sns-component></sns-component>

  <div class="slider-outer">
    <transition name="fade">
      <div class="slider-inner" :key="idx" v-for="(slide, idx) in slides" v-if="current_slide == idx">
        <img class="slide-img" v-bind:src="slides[idx].img" :key="slides[idx].img" width="100" height="100">
      </div>
    </transition>
  </div>

  <div id="anker-link">
    <!-- <slide class="sp"> -->
    <ul>
      <li>
        <a href="#about">
          <span>ABOUT</span>
        </a>
      </li>
      <li>
        <a href="#event">
          <span>EVENT</span>
        </a>
      </li>
    </ul>
  <!-- <slide> -->
  </div>

  <sns-component></sns-component>

  <div class="main-area">
    <section class="content-area">

      <div class="content-area__outer" id="about">
        <fade-in-component> 
          <div class="content__title">
            <span>ABOUT</span>
            <h2>Photalk Fukuokaについて</h2>
          </div>
        </fade-in-component>

        <div class="about-content content__block">
          <div class="content__text-block">
            <fade-in-component>
              <h3 class="bold under-gray">Photo + talk/walk</h3>
            </fade-in-component>
            <fade-in-component>
              <p>誰かと写真について話すこと、写真を撮り歩くこと。<br>
              それらを通して写真と付き合えるよう、Photalk・Photwalkというイベントを開いています。 </p>
            </fade-in-component>
            <fade-in-component>
              <p><span class="bold">詳しい知識はなくても大丈夫。</span>写真に興味がある、話を楽しみたい、撮り歩きを楽しみたい、という方向けの集まりです。</p>
            </fade-in-component>
          </div>
          <!-- <fade-in-component>
            <div class="content__image-container">
              <img src="img/content_img_01.jpg" alt="イメージ画像" loading="lazy">
              <img src="img/content_img_02.jpg" alt="イメージ画像" loading="lazy">
            </div>
          </fade-in-component> -->
        </div>

      </div>
    </section>
<!-- 
    <section class="content-area">

      <div class="content-area__outer" id="about">
        <fade-in-component> 
          <div class="content__title">
            <span>Talk・Walk</span>
            <h2>フォトウォークとフォトーク</h2>
          </div>
        </fade-in-component>

        <fade-in-component> 
          <div class="content__text-block fadeIn">
            <p>写真の撮り歩きである「フォトーク」と写真について話す集まり「フォトウォーク」を開いています。<br>不定月の第3・4土曜日に実施。</p>
          </div>
        </fade-in-component>

        <div class="about-content content__block">
          <div class="content__text-block">
            <fade-in-component>
              <h3>Photwalk（フォトウォーク）</h3>
              <p>写真の撮り歩きです。テーマに沿って写真を撮り歩きます。機材は不問、スマホでも大丈夫です！</p>
            </fade-in-component>
          </div>
          <fade-in-component>
            <div class="content__image-container">
              <img src="img/content_img_01.jpg" alt="イメージ画像" loading="lazy">
            </div>
          </fade-in-component>
        </div>

        <div class="about-content content__block">
          <div class="content__text-block">
            <fade-in-component>
              <h3>Photalk（フォトーク）</h3>
              <p>写真について話す集まりです。テーマに沿った写真を持参していただきます。</p>
            </fade-in-component>
          </div>
          <fade-in-component>
            <div class="content__image-container">
              <img src="img/content_img_02.jpg" alt="イメージ画像" loading="lazy">
            </div>
          </fade-in-component>
        </div>

      </div>
    </section> -->

    <!-- <fade-in-component class="content-area">
      <div class="content-area__outer bg-grey content__block" id="photo">
        <fade-in-component> 
          <div class="content__title">
            <span>PHOTO?</span>
            <h2>「写真」について</h2>
          </div>
        </fade-in-component>

        <fade-in-component  class="content__text-block">
          <p>ご持参いただく写真の種類は<span class="bold">「プリント紙に印刷されたもの」以外</span>でも大丈夫です。<br>たとえば、下記などを想定しています。</p>
        </fade-in-component>

        <fade-in-component class="content__list-block">
          <p><span class="under-gray">ご持参写真の一例</span></p>
          <ul>
            <li>プリントされた写真</li>
            <li>雑誌、写真集、図版、など紙媒体・印刷物</li>
            <li>PC・タブレットやスマートフォンなどデバイス内にある電子媒体の写真/画像</li>
            <li>SNSで公開された写真/画像</li>
          </ul>
        </fade-in-component>

        <fade-in-component class="content__text-block">
          <p>他にも<span class="under">「これは写真だな」とお考えになったもの</span>を自由にご持参ください。</p>
          <p class="bold">※情勢を鑑みて2020年は活動内容を「フォトウォーク」に変更しております。年内は通常形式での写話会は行いません。</p>
        </fade-in-component>
      </div>
    </fade-in-component> -->

    <fade-in-component class="content-area bg-grey ">

      <div id="event">

        <fade-in-component> 
          <div class="content__title">
            <span>EVENT</span>
            <h2>開催予定のイベント</h2>
          </div>
        </fade-in-component>

        <div class="content__block">
          <fade-in-component class="content__event-img">
            <img src="img/info_dummy.jpg" alt="写話会の詳細"　loading="lazy">
          </fade-in-component>
            
          <fade-in-component class="content__text-block">
            <p>11月開催予定のイベント・フォトウォークは現在検討中です。</p>
            <!-- <p>⇒お申込み・詳細の確認は以下リンク先のイベントページよりお願いします。</p>
            <div class="content__button">
              <button tabindex="0" role="button" onclick="window.open('https://photalkFukuoka/.github.io/main/event/2020/10.html','_blank')">
                 詳細をみる
              </button>
            </div> -->
          </fade-in-component>
        </div>
      </div>

    </fade-in-component>

    <!-- <fade-in-component class="content-area">

      <div id="exhibition">

        <div class="content-area__outer content__block" >
          <fade-in-component> 
            <div class="content__title">
              <span>EXHIBITION</span>
              <h2>福岡の写真展情報</h2>
            </div>
          </fade-in-component>

          <fade-in-component class="content__text-block">
            <p>福岡で開催される写真展情報の一覧ページを作成しております。<br>観たい展示を探される際のご参考にどうぞ！</p>
            <p>※不定期更新</p>
            <div class="content__button">
              <button tabindex="0" role="button" onclick="window.open('https://photalkFukuoka/.github.io/main/exhibition/index.html')">
                EXHIBITIONページへ
              </button>
            </div>
          </fade-in-component>
        </div>

     </div>
    </fade-in-component> -->

  </div>
  <movetop-component class="scrBtn"></movetop-component>
  <footer-component></footer-component>

</div>
</body>
</html>
